#  4/16 Binary Hacks
- toc: true
- image: /images/python.png
- categories: []
- type: pbl
- week: 29

In [1]:
def binary_multiply(num1, num2):
  
    num1_int = int(num1, 2)
    num2_int = int(num2, 2)

    result = bin(num1_int * num2_int)[2:]

    return result

num1 = input("Enter first binary number: ")
num2 = input("Enter second binary number: ")

result = binary_multiply(num1, num2)


print(f"{num1} x {num2} = {result}")

01 x 11 = 11

In [2]:
import pandas as pd


data = {
    'Name': ['Dillon', 'Noor', 'Steven', 'Lucas', 'Harsha', 'Varalu', 'Ryan', 'Emaad'],
    'Age': [24, 31, 42, 27, 29, 26, 90, 15],
    'Gender': ['M', 'M', 'M', 'M', 'F', 'F', 'F', 'F'],
    'Grade': ['A', 'B', 'A', 'D', 'C', 'F', 'B', 'A']
}


df = pd.DataFrame(data)

# function 1: get summary statistics
summary = df.describe()
print(summary)

# function 2: group by gender and get average age and grade
grouped = df.groupby('Gender').agg({'Age': 'mean', 'Grade': lambda x: x.mode()[0]})
print(grouped)

# function 3: filter by age and grade
filtered = df[(df.Age >= 30) & (df.Grade.isin(['A', 'B']))]
print(filtered)

             Age
count   8.000000
mean   35.500000
std    23.268618
min    15.000000
25%    25.500000
50%    28.000000
75%    33.750000
max    90.000000
         Age Grade
Gender
F       40.0     A
M       31.0     A
     Name  Age Gender Grade
1    Noor   31      M     B
2  Steven   42      M     A
6    Ryan   90      F     B

<!DOCTYPE html>
<html>
<head>
	<title>Student Gender Filter</title>
</head>
<body>
	<h1>Student Gender Filter</h1>
	<label for="gender-filter">Filter by gender:</label>
	<select id="gender-filter">
		<option value="all">All</option>
		<option value="male">Male</option>
		<option value="female">Female</option>
	</select>
	<table id="student-table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Gender</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>John</td>
				<td>Male</td>
				<td>12</td>
			</tr>
			<tr>
				<td>Maya</td>
				<td>Female</td>
				<td>10</td>
			</tr>
			<tr>
				<td>Josh</td>
				<td>Male</td>
				<td>11</td>
			</tr>
			<tr>
				<td>Carol</td>
				<td>Female</td>
				<td>12</td>
			</tr>
		</tbody>
	</table>
	<script>
		// define data array
		const students = [
			{name: 'John', gender: 'Male', grade: 12},
			{name: 'Maya', gender: 'Female', grade: 10},
			{name: 'Josh', gender: 'Male', grade: 11},
			{name: 'Carol', gender: 'Female', grade: 12},
		];
		// define function to filter students by gender
		function filterStudentsByGender(gender) {
			if (gender === 'all') {
				return students;
			} else {
				return students.filter(student => student.gender === gender);
			}
		}
	</script>
</body>
</html>